<section class="post">
    {{!-- make each post clickable ? and use that for routes/controllers --}}
    <a href="">
        <header>{{title}}</header>
        <div class="post-body">
            <div>
                {{text}}
            </div>
            <div>
                {{user_id}}
            </div>
        </div>
    </a>

</section>