<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<script src=""></script>
	<title>Tech Blog App</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="#dashboard">Dashboard</a></li>
				<li><a href="#login">Login</a></li>
				<li><a href="#signin">Sign In</a></li>
			</ul>
		</nav>
		<div >
			<span id ="current-tab">Tech Blog</span>
		</div>
	</header>
	{{{ body }}}
</body>

</html>