<div class="create-post-container">
  <p class="page-title">Create a new Post</p>
  <form class="form add-post-form">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>
      <textarea class="form-input" rows="4" id="post-content"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>

<script src="/js/addPost.js"></script>