<div class="create-post-container">
  <p class="page-title">Add a Comment</p>
  <form class="form add-comment-form" data-postId="{{postId}}"=>

    <div class="form-group">
      <label for="comment-content">Content</label>
      <textarea class="form-input" rows="4" id="comment-content"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>

<script src="/js/addComment.js"></script>