{{!-- show only the logged in users posts --}}
<section class="post-container">
<p>Dashboard </p> 
<a href="/posts/create">Add Post</a>
{{!-- <button type="button" class="btn btn-primary">Add Post</button> --}}

{{!-- pass in data from controllers  from dashbaord it should be Editing the post--}}
{{#each postsData as |post|}}
{{> edit-post}}
{{/each}}

</section>