
{{!-- show only the logged in users posts --}}
<section class="post-container">
<h3>Dashboard</h3>
{{!-- <button type="button" class="btn btn-primary">Add Post</button> --}}
<a href="/posts/create">Add Post</a>

{{!-- pass in data from controllers  from dashbaord it should be Editing the post--}}
{{#each postsData as |post|}}
{{> post-details}}
{{/each}}

</section>