<h1>Dashboard</h1>
{{!-- show only the logged in users posts --}}
<section class="post-container">


{{!-- pass in data from controllers --}}
{{#each postsData as |post|}}
{{> post-details}}
{{/each}}

</section>