<div class="create-post-container container">
  <p class="page-title">Edit Post</p>
  <form class="form edit-post-form">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input class="form-input" type="text" id="post-title" value="{{postToEdit.title}}"/>
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>
      <textarea class="form-input" rows="4" id="post-content">{{postToEdit.text}}</textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Save</button>
      <button class="btn btn-primary" type="submit" id="delete-post">Delete</button>
    </div>
  </form>
</div>

<script src="/js/editPosts.js"></script>
<script src="/js/deletePosts.js"></script>