<section class="post-container">
{{#each postsData as |post|}}
    <p>View Post</p>
    <a href="/comments/create/{{post.id}}">Add Comment</a>
    {{> post-details}}
    {{#each post.comments as |comment|}} 
    {{> comment-details}}
    {{/each}}
{{/each}}

</section>