<section class="post-container">
<p>View Post</p>

{{!-- pass in data from controllers --}}
{{#each postsData as |post|}}
    {{> post-details}}

    {{#each post.comments as |comment|}} 
    {{> comment-details}}
    {{/each}}
{{/each}}

</section>